.cover-container{
    max-width: 60em; !important;
}
.header-wrapper {
    width: 100%;
    margin-bottom: 30%;
}
.header-wrapper.results {
    margin-bottom: 5%;
}
.btn-wrapper {
    padding-top: 10%;
}
form{
    display: inline-block;
}

.card{
    background-color: #808080;
    margin-top: 3%;
}
.results-body{
    height: 60%;
    overflow: scroll;
    width: 340px;
}
cards-wrapper{
    margin-bottom: 3%;
}
.col-10.mb-1.small{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.btn-primary{
    background-color: #212529; !important;
    border-color: #212529; !important;
}
