/* INDEX PAGE
*/
.welcome{
    padding-top: 10%;
}
.card-container{
    width: 75%;
    height: 100%;
    float: right;
    overflow: scroll;
}
.card-text {
    text-align: left;
}
.side-navbar {
    width: 180px;
    display: flex;
    margin-top: 1.5%;
    border-radius: 5px;
    position: fixed;
    background-color: #100901;
    transition: 0.5s;
    padding-bottom: 20px;
}
.header-wrapper {
    width: 100%;
    margin-bottom: 30%;
}
.btn-wrapper {
    padding-top: 10%;
}
form{
    display: inline-block;
}
.spinner-container{
    padding-top: 5%;
}

/* RESULTS PAGE
*/
.header-wrapper.results {
    margin-bottom: 5%;
}
.card{
    background-color: #808080;
    margin-top: 3%;
}
cards-wrapper{
    margin-bottom: 3%;
}
.col-10.mb-1.small{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.btn-primary{
    background-color: #212529; !important;
    border-color: #212529; !important;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
    height: 85vh;
}

.active-nav {
    margin-left: 0;
}

active-cont {
    margin-left: 180px;
}
.alert {
    list-style-type: none;
    line-height: 1rem;
    margin-bottom: 0px; !important;
}
