@import play.mvc.Http.Request
@(request: Request)
@layout("NewsRoom") {
<!DOCTYPE html>

    <div class="cover-container d-flex w-100 h-100 p-4 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="@routes.Assets.at("images/site-logo-circle.png")" alt="logo" width="60" height="60">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <div class="d-flex">
                        <input class="form-control me-2" type="search" id="searchTerm" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" onclick="search()">Search</button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="welcome" id="welcome-message" style="display: block">
            <h3>Welcome to Newsroom - your news consolidation tool</h3>
            <h4>Enter the term you want to know more about and hit search to begin!</h4>
        </div>
        <ul id="events" style="display: block"></ul>
        <div id="article-container" style="display: none">
            <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
                <ul class="nav flex-column text-white w-100" id="topics-container">
                    <a href="#" class="nav-link h5 text-white my-2">
                        Topics
                    </a>
                </ul>
            </div>
            <div class="p-1 my-container active-cont">
                <div class="card-container" id="card-container">

                </div>
            </div>
        </div>
    </div>

        <body id="mainBody" wsdata="@routes.HomeController.socket.webSocketURL(request)" onload="init()">
            <script type="text/javascript">

                    let ws;

                    function init() {
                        openWebSocketConnection();
                    }

                    function search() {
                        const welcomeMessage = document.getElementById("welcome-message");
                        welcomeMessage.style.display = "none";
                        const searchTerm = document.getElementById("searchTerm").value;
                        ws.send(JSON.stringify({
                            messagetype: "startSearch",
                            searchTerm: searchTerm,
                        }));
                        ws.send(JSON.stringify({
                            messagetype: "searchYoutube",
                            searchTerm: searchTerm,
                        }));
                    }

                    function addAlert(mess) {
                        const alert = document.createElement('li')
                        alert.className = "alert";
                        alert.style.listStyleType = "none";
                        alert.innerHTML =
                                "<div class='alert alert-dark' role='alert'>" +
                                    mess +
                                "</div>"

                        document.getElementById("events").appendChild(alert);
                    }

                    function sidelineMenu() {
                        console.log("sideline menu");
                        const sidebar = document.querySelector("#sidebar");
                        const container = document.querySelector(".my-container");

                        sidebar.classList.toggle("active-nav");
                        container.classList.toggle("active-cont");
                    }

                    function populateNewsData(newsData, count) {
                        console.log("populate news data");
                        document.getElementById("card-container").innerHTML = "";
                        const insertPoint = document.getElementById("card-container");
                        for (let i = 0; i < newsData.length; i++) {
                            if (newsData[i]["topicId"] === count+1) {
                                const card = document.createElement('div');
                                card.className = "card";
                                card.innerHTML = "<div class='card-body'>" +
                                        "<h5 class='card-title'>" + newsData[i].topicText["title"] + "</h5>" +
                                        "<h6 class='card-subtitle mb-2 text-muted'>" + newsData[i].topicText["author"] + "</h6>" +
                                        "<p class='card-text'>" + newsData[i].topicText["contents"] + "</p>" +
                                        "<a href='" + newsData[i].topicText["article_url"] + "' class='card-link'>" + 'View Article Online' + "</a>" +
                                        "</div>";

                                insertPoint.appendChild(card);
                            }
                        }
                    }

                    function populateSubtitlesData(subtitlesData, count) {
                        console.log("populate subtitles data");
                        const insertPoint = document.getElementById("card-container");
                        for (let i = 0; i < subtitlesData.length; i++) {
                            if (subtitlesData[i]["topicId"] === count+1) {
                                const card = document.createElement('div');
                                card.className = "card";
                                card.innerHTML = "<div class='card-body'>" +
                                        "<h5 class='card-title'>" + 'title' + "</h5>" +
                                        "<h6 class='card-subtitle mb-2 text-muted'>" + 'BBC' + "</h6>" +
                                        "<p class='card-text'>" + subtitlesData[i].topicText["subtitleText"] + "</p>" +
                                        "<a href='#' class='card-link'>" + 'Video Link' + "</a>" +
                                        "<iframe width='420' height='315' src='https://www.youtube.com/embed/"+ subtitlesData[i].topicText["videoId"] +"'>" + "</iframe>" +
                                        "</div>";

                                insertPoint.appendChild(card);
                            }
                        }
                    }

                    function populateTopicsMenu(topics, nD, sD) {
                        const eventsList = document.getElementById("events");
                        eventsList.style.display = "none";
                        const articleContainer = document.getElementById("article-container");
                        articleContainer.style.display = "block";
                        const insertPoint = document.getElementById("topics-container");
                        for (let i = 0; i < topics.length; i++) {
                            let topicsString = topics[i].join(", ");
                            const listEl = document.createElement('li');
                            listEl.className = "nav-link text-white";
                            listEl.onclick = function() {
                                sidelineMenu();
                                populateNewsData(nD, i);
                                populateSubtitlesData(sD, i);
                            };;
                            listEl.innerHTML = "<span class='mx-2'>" + topicsString + "</span>"

                            insertPoint.appendChild(listEl);
                        }
                    }

                    function openWebSocketConnection() {
                        const wsURL = document.getElementById("mainBody").getAttribute("wsdata");

                        ws = new WebSocket(wsURL);
                        ws.onmessage = function (event) {
                            let message;
                            console.log("message received starting function")
                            message = JSON.parse(event.data);
                            console.log(message);
                            switch (message.messagetype) {
                                case "alert":
                                    addAlert(message.text);
                                    break;
                                case "searchComplete":
                                    ws.send(JSON.stringify({
                                        messagetype: "topicModelStart"
                                    }));
                                    break;
                                case "modellingComplete":
                                    populateTopicsMenu(message.topics, message.newsData, message.subtitlesData);
                                    //populateNewsData(message.newsData);
                                    break;
                                case "searchTerm":
                                    console.log("searching...");
                                    console.log(message.searchTerm);
                                    break;
                                default:
                                    console.log("defaulted instead of realising it was url")
                                    return console.log(message);
                            }
                        };
                    }

            </script>
        </body>
}
