@import play.mvc.Http.Request
@(request: Request)
@layout("NewsRoom") {
<!DOCTYPE html>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                    <header class="header-wrapper">
                        <div>
                            <h3 class="float-md-start mb-0">NewsRoom: A News Consolidation Tool</h3>
                        </div>
                    </header>
                    <main class="px-3">
                        <h3>Start Searching</h3>
                        <p class="lead">Just enter the term you want to find out more about and hit search to begin</p>
                        <p class="lead">
                        <form>
                            <input class="form-control" id="searchTerm" type="text"/>
                            <div class="btn-wrapper">
                                <a href="javascript:search()" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Search</a>
                            </div>
                            <div class="btn-wrapper">
                                <a href="javascript:searchYT()" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Search Youtube</a>
                            </div>
                        </form>
                        </p>
                    </main>
                </div>

        <body id="mainBody" wsdata="@routes.HomeController.socket.webSocketURL(request)" onload="init()">
            <script type="text/javascript">

                    let ws;

                    function init() {
                        openWebSocketConnection();
                    }

                    function search() {
                        console.log("search clicked");
                        const searchTerm = document.getElementById("searchTerm").value;
                        console.log(searchTerm)
                        ws.send(JSON.stringify({
                            messagetype: "searchTerm",
                            searchTerm: searchTerm,
                        }));
                    }

                    function searchYT() {
                        console.log("search clicked");
                        const searchTerm = document.getElementById("searchTerm").value;
                        console.log(searchTerm)
                        ws.send(JSON.stringify({
                            messagetype: "yt-searchTerm",
                            searchTerm: searchTerm,
                        }));
                    }

                    //function used to populate the DB with ML resources
                    //function populateDB() {
                    //  console.log("populate");
                    //ws.send(JSON.stringify({
                    //  messagetype: "populateDB",
                    //}));
                    //}

                    function openWebSocketConnection() {
                        const wsURL = document.getElementById("mainBody").getAttribute("wsdata");

                        //alert(wsURL);
                        ws = new WebSocket(wsURL);
                        ws.onmessage = function (event) {
                            let message;
                            console.log("message received starting function")
                            message = JSON.parse(event.data);
                            console.log(message);
                            switch (message.messagetype) {
                                case "yt-searchTerm":
                                    window.location.href = ("http://localhost:9000/video/" + message.searchTerm);
                                case "searchTerm":
                                    console.log("searching...");
                                    console.log(message.searchTerm);
                                    window.location.href = ("http://localhost:9000/articles/" + message.searchTerm);
                                    //case "populateDB":
                                    //  window.location.href = ("http://localhost:9000/articles/index");

                                default:
                                    console.log("defaulted instead of realising it was url")
                                    return console.log(message);
                            }
                        };
                    }

            </script>
        </body>
}
