@import play.mvc.Http.Request
@(request: Request)
@layout("NewsRoom") {
<!DOCTYPE html>

    <div class="cover-container d-flex w-100 h-100 p-4 mx-auto flex-column">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="@routes.Assets.at("images/site-logo-circle.png")" alt="logo" width="60" height="60">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar justify-content-end" id="navbarSupportedContent">
                    <div class="d-flex">
                        <input class="form-control me-2" type="search" id="searchTerm" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" onclick="search()">Search</button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="welcome" id="welcome-message" style="display: block">
            <h3>Welcome to Newsroom - your news aggregation tool</h3>
            <h4>Enter the term you want to know more about and hit search to begin!</h4>
        </div>
        <ul id="events" style="display: block"></ul>
        <div id="no-results" style="display: none"></div>
        <div id="article-container" style="display: none">
            <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
                <ul class="nav flex-column text-white w-100" id="topic-title-container">
                    Topics
                </ul>
                <ul class="nav flex-column text-white w-100" id="topics-container">

                </ul>
            </div>
            <div class="p-1 my-container active-cont">
                <div class="card-container" id="card-container">

                </div>
            </div>
        </div>
    </div>

        <body id="mainBody" wsdata="@routes.HomeController.socket.webSocketURL(request)" onload="init()">
            <script type="text/javascript">

                    let ws;


                    document.getElementById('sidebar').addEventListener('click',function(){
                        document.getElementById('sidebar').classList.toggle('open');
                    });

                    function init() {
                        openWebSocketConnection();
                        window.setInterval(function () {
                            ws.send(JSON.stringify({
                                messagetype: "heartbeat",
                            }));
                        }, 3000);
                    }

                    function search() {
                        const welcomeMessage = document.getElementById("welcome-message");
                        welcomeMessage.style.display = "none";

                        document.getElementById("events").innerHTML = "";
                        document.getElementById("no-results").innerHTML = "";

                        const eventsList = document.getElementById("events");
                        eventsList.style.display = "block";
                        const articleContainer = document.getElementById("article-container");
                        articleContainer.style.display = "none";

                        const searchTerm = document.getElementById("searchTerm").value;
                        ws.send(JSON.stringify({
                            messagetype: "startSearch",
                            searchTerm: searchTerm,
                        }));
                        ws.send(JSON.stringify({
                            messagetype: "searchYoutube",
                            searchTerm: searchTerm,
                        }));
                    }

                    function addAlert(mess) {
                        const noResultsContainer = document.getElementById("no-results");
                        noResultsContainer.style.display = "none";
                        const alert = document.createElement('li')
                        alert.className = "alert-container";
                        alert.innerHTML =
                                "<div class='alert alert-dark text-white' role='alert'>" +
                                    mess +
                                "</div>"

                        document.getElementById("events").appendChild(alert);
                    }

                    function populateNewsData(newsData, count) {
                        document.getElementById("card-container").innerHTML = "";

                        const insertPoint = document.getElementById("card-container");
                        for (let i = 0; i < newsData.length; i++) {
                            if (newsData[i]["topicId"] === count+1) {
                                const card = document.createElement('div');
                                let date = new Date(newsData[i]["article"]["published_date"]);
                                card.className = "card text-white";

                                if (newsData[i]["article"]["image"]["imageURL"] != null) {
                                    card.innerHTML =
                                            "<div class='card-body'>" +
                                                "<h5 class='card-title' data-bs-toggle='collapse' data-bs-target='#content"+i+"'>" + newsData[i]["article"]["title"] + "</h5>" +
                                                "<div class='card-subtitle-container'>" +
                                                    "<h6 class='card-subtitle mb-2'>" + newsData[i]["article"]["author"] + "</h6>" +
                                                    "<p class='card-subtitle mb-2 text-muted'>" + "Source: Washington Post" + "</p>" +
                                                    "<p class='card-subtitle mb-2 text-muted'>" + date.toString().slice(0,16) + "</p>" +
                                                "</div>" +
                                                "<div class='collapse' id='content"+i+"'>" +
                                                    "<div style='float: right; clear: right; margin-left: 5px'>" +
                                                        "<img src='" + newsData[i]["article"]["image"]["imageURL"] + "' alt='" + newsData[i]["article"]["image"]["fullcaption"] + "' width='420' height='300'>" +
                                                    "</div>" +
                                                    "<p class='card-text'>" + newsData[i]["article"]["contents"] + "</p>" +
                                                    "<a href='" + newsData[i]["article"]["article_url"] + "' class='card-link'>" + 'View Article Online' + "</a>" +
                                                "</div>" +
                                            "</div>";
                                } else {
                                    card.innerHTML =
                                            "<div class='card-body'>" +
                                                "<h5 class='card-title' data-bs-toggle='collapse' data-bs-target='#content"+i+"'>" + newsData[i]["article"]["title"] + "</h5>" +
                                                "<div class='card-subtitle-container'>" +
                                                    "<h6 class='card-subtitle mb-2'>" + newsData[i]["article"]["author"] + "</h6>" +
                                                    "<p class='card-subtitle mb-2 text-muted'>" + "Source: Washington Post" + "</p>" +
                                                    "<p class='card-subtitle mb-2 text-muted'>" + date.toString().slice(0,16) + "</p>" +
                                                "</div>" +
                                                "<div class='collapse' id='content"+i+"'>" +
                                                    "<p class='card-text'>" + newsData[i]["article"]["contents"] + "</p>" +
                                                    "<a href='" + newsData[i]["article"]["article_url"] + "' class='card-link'>" + 'View Article Online' + "</a>" +
                                                "</div>" +
                                            "</div>";
                                }

                                insertPoint.appendChild(card);
                            }
                        }
                    }

                    function populateSubtitlesData(subtitlesData, count) {
                        const insertPoint = document.getElementById("card-container");
                        for (let i = 0; i < subtitlesData.length; i++) {
                            if (subtitlesData[i]["topicId"] === count+1) {
                                const card = document.createElement('div');
                                card.className = "card text-white";
                                card.innerHTML =
                                        "<div class='card-body'>" +
                                            "<h5 class='card-title' data-bs-toggle='collapse' data-bs-target='#content"+i+"'>" + subtitlesData[i]["topicSubtitle"]["videoTitle"] + "</h5>" +
                                            "<div class='card-subtitle-container'>" +
                                                "<h6 class='card-subtitle mb-2 text-muted'>" + 'From the Washington Post' + "</h6>" +
                                            "</div>" +
                                            "<div class='collapse' id='content"+i+"'>" +
                                                "<div style='float: right; clear: right; margin-left: 5px'>" +
                                                    "<iframe width='420' height='300' align='right' src='https://www.youtube.com/embed/"+ subtitlesData[i]["topicSubtitle"]["videoId"] +"'>" + "</iframe>" +
                                                "</div>" +
                                                "<p class='card-text'>" + subtitlesData[i]["topicSubtitle"]["subtitleText"] + "</p>" +
                                            "</div>" +
                                        "</div>";

                                insertPoint.appendChild(card);
                            }
                        }
                    }

                    function noResults() {
                        const noResultsContainer = document.getElementById("no-results");
                        noResultsContainer.style.display = "block";
                        const insertPoint = document.getElementById("no-results");
                        const textDiv = document.createElement('div');
                        textDiv.className = "no-results-inner";
                        textDiv.innerHTML =
                                "<h5 class='text-white'>" + "No Results: Please try again" + "</h5>" +
                                "<h6 class='text-white'>" + "Your search may be too specific, try a more general term" + "</h6>";

                        insertPoint.appendChild(textDiv);
                    }

                    function populateTopicsMenu(topics, nD, sD) {
                        console.log(nD)
                        const eventsList = document.getElementById("events");
                        eventsList.style.display = "none";
                        if (nD.length === 0) {
                            noResults()
                        } else {
                            const articleContainer = document.getElementById("article-container");
                            articleContainer.style.display = "block";
                            document.getElementById("topic-title-container").innerHTML = "<a href='#' class='nav-link h5 text-white my-2'>" +
                            'Topics' +
                            "</a>";
                            const insertPoint = document.getElementById("topics-container");
                            for (let i = 0; i < topics.length; i++) {
                                let topicsString = topics[i].join(", ");
                                const listEl = document.createElement('li');
                                listEl.className = "nav-link text-white";
                                listEl.onclick = function () {
                                    populateNewsData(nD, i);
                                    populateSubtitlesData(sD, i);
                                };;
                                listEl.innerHTML = "<span class='mx-2'>" + topicsString + "</span>"

                                insertPoint.appendChild(listEl);
                            }
                        }
                    }

                    function openWebSocketConnection() {
                        const wsURL = document.getElementById("mainBody").getAttribute("wsdata");

                        ws = new WebSocket(wsURL);
                        ws.onmessage = function (event) {
                            let message;
                            message = JSON.parse(event.data);
                            console.log(message);
                            switch (message.messagetype) {
                                case "alert":
                                    addAlert(message.text);
                                    break;
                                case "searchComplete":
                                    ws.send(JSON.stringify({
                                        messagetype: "topicModelStart"
                                    }));
                                    break;
                                case "modellingComplete":
                                    populateTopicsMenu(message.topics, message.newsData, message.subtitlesData);
                                    break;
                                case "searchTerm":
                                    console.log("searching...");
                                    console.log(message.searchTerm);
                                    break;
                                default:
                                    console.log("defaulted instead of realising it was url")
                                    return console.log(message);
                            }
                        };
                    }

            </script>
        </body>
}
